@font-face{
    font-family:inria;
    src: url(./fonts/Inria_Sans/InriaSans-Italic.ttf);
    font-weight: bolder;
}

@font-face {
    font-family:myriad-pro;
    src: url(./fonts/myriad-pro/);
    font-weight: bolder;
}
@font-face {
    font-family: abyssinica;
    src: url(./fonts/Abyssinica_SIL\,Inria_Sans/);
    font-weight: bolder;
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;

    font-family: "myriad-pro", sans-serif;
}

:root{
    --branco: #fff;
    --preto: #000;
    --roxo: #4700CF;
    --laranja: #FFE76E;
    --roxo: #D6D1FF;
    --cinza: #F1F1F1;
}

body{
    background-color: var(--fundo-site);
}

header{
    width: 100%;
   
}

header>div.container-flex{
     display: flex;
    align-items: center;
    justify-content: space-between;

    height: 165px;
    
}

.container-flex{
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

#logo{
    width: 140px;
}

.links{
    /* background-color: #D6D1FF; */
    display: flex;
    align-items: center;
    gap: 85px;
}

.links a{
    font-size: 23px;
    color: var(--preto);
    text-decoration: none;

font-family:"myriad-pro",;
}

.links a:hover{
    color: #4700CF;
}

#icone-barras,
#icone-x,
#menu_botao{
    display: none;

}

#banner{
   width: 100%;
   height: calc(120vh - 165px);
    object-fit: cover;
    object-position: top;

}

.especialistas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "inria";
    margin-top: 30px;
}

.especialistas img{
    width: 100%;
    max-width: 1000px;

    border-radius: 17%;
    padding: 50px;
    margin-top: 30px;
}

#especialistas01{
    color: #4700CF;
    margin-bottom: 0;
    background-color: #D6D1FF;
    border-radius: 20px;
    padding: 10px 18px;
}

#sobre{
    width: 100%;
   height: calc(110vh - 165px);
    object-fit: cover;
    object-position: top;
}

.sobre-nos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;

}

.sobre-nos img{
    width: 200%;
    max-width:  2000px;

    border-radius: 13%;
    padding: 50px;
    margin-top: 20px;
    

}

#sobre01{
    color: #4700CF;
    margin-bottom: 0;
    background-color: #D6D1FF;
    border-radius: 20px;
    padding: 10px 18px;
}

.texto{
    grid-column: span 7;
}


.texto{
    font-size: 26px;
    font-weight: 600;

    font-size: 30px;
    max-width: 1000px;
    text-align: left;

    font-family: "myriad-pro", sans-serif ;

}

.pacotes {
    width: 100%;
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grupo-planos{
    display: flex;
    gap: 3%;
    margin-top: 30px;
}

.planos {
    width: 300px;
    background: #4700CF;
    color: white;
    padding: 25px;


    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.planos h2 {
    font-size: 26px;
    font-weight: bold;
}

.planos h3 {
    font-size: 22px;
    margin: 8px 0 12px;
    font-weight: 600;
}

.planos p {
    font-size: 15px;
    margin-bottom: 15px;
}

.planos img {
    width: 100%;
    border-radius: 14px;
    margin-top: 10px;
}

#Pacote01{
    color: #4700CF;
    margin-bottom: 0;
    background-color: #D6D1FF;
    border-radius: 20px;
    padding: 10px 18px;
    margin-top: -50px;
}

#Pacote01{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------rodape */

.footer {
    margin-top: 50px;
    width: 100%;
    background: linear-gradient(90deg, #dcd8ff 0%, #e6c9f7 50%, #dcd8ff 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;


    margin-right: 300px;
    padding: 50px 400px;
    gap: 40px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-left .logo {
    width: 200px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    line-height: 46px;
    color: #5d0be0;
}

.title span {
    font-size: 80px;
}

.footer-right h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.social-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.icon {
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}


.icon.ig  { background-image: url('./icons/instagram.svg'); }
.icon.tk  { background-image: url('./icons/tiktok.svg'); }
.icon.mail { background-image: url('./icons/envelope-paper.svg'); }

@media (max-width: 750px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-left {
        flex-direction: column;
    }

    .title {
        text-align: center;
    }
}






