*{
    padding: 0;
    margin: 0;
    box-sizing:content-box;
}

:root{
    --branco: #fff;
    --preto: #000;
    --roxo: #4700CF;
    --laranja: #FFE76E;
    --roxo: #D6D1FF;
    --cinza: #F1F1F1;
}

body{
    background-color: var(--fundo-site);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 165px;
}

.container-flex{
    width: 85%;
    max-width: 1440px;
}