*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;

    font-family: "myriad-pro", sans-serif;
}

:root{
    --branco: #fff;
    --preto: #000;
    --roxo: #4700CF;
    --laranja: #FFE76E;
    --roxo: #D6D1FF;
    --cinza: #F1F1F1;
}

@font-face{
    font-family:inria;
    src: url(./fonts/Inria_Sans/InriaSans-Italic.ttf);
    font-weight: bolder;
}

@font-face {
    font-family:myriad-pro;
    src: url(./fonts/myriad-pro/);
    font-weight: bolder;
}
@font-face {
    font-family: abyssinica;
    src: url(./fonts/Abyssinica_SIL\,Inria_Sans/);
    font-weight: bolder;
}
body{
    background-color: var(--fundo-site);
}

header{
    width: 100%;
   
}

header>div.container-flex{
     display: flex;
    align-items: center;
    justify-content: space-between;

    height: 165px;
    
}

.container-flex{
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

#logo{
    width: 140px;
}

.links{
    /* background-color: #D6D1FF; */
    display: flex;
    align-items: center;
    gap: 85px;
}

.links a{
    font-size: 23px;
    color: var(--preto);
    text-decoration: none;

font-family:"inria";
}

.links a:hover{
    color: #4700CF;
}

#icone-barras,
#icone-x,
#menu_botao{
    display: none;

}

#banner{
   width: 100%;
   height: calc(120vh - 165px);
    object-fit: cover;
    object-position: top;

}

.especialistas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "inria";
}

.especialistas img{
    width: 100%;
    max-width: 1000px;

    border-radius: 3%;
    padding: 50px;
}

#sobre{
    width: 100%;
   height: calc(110vh - 165px);
    object-fit: cover;
    object-position: top;
}
